html, body{
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  height: 100vh;
}

.search-container{
  width: 20%;
  background-color: white;
}

#map{
  height: 100%;
  width: 80%;
}
