html, body{
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  height: 100vh;
}

.search-container{
  width: 25%;
  background-color: white;
}

.search-bar{
  background-color: black;
  padding: 10px;
  height: 30px;
}

.search-bar input{
  border: none;
  margin: 0;
  padding: 0 5px;
  width: 90%;
  border-radius: 15px;
  height: 30px;
  font-size: 1em;
}

.search-results{
  padding: 5px;
  list-style-type: none;
}

.search-results li{
  cursor: pointer;
  border: solid 1px #ccc;
  text-transform: capitalize;
  font-size:1em;
}
.search-results li:hover{
  background-color: #ccc;
}

#map{
  height: 97%;
  width: 75%;
}

#footer{
  background-color: #ccc;
  width: 75%;
}


@media only screen and (max-width:550px) {
  .App{
    flex-direction: row;
  }
  .search-container{
    width: 100%;
  }
  #map{
    width: 100%;
  }
  #footer{
    width: 100%;
  }
}